# fly.toml app configuration file generated for sipanda on 2025-10-18T09:42:40+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sipanda'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = false
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
